<p id="notice"><%= notice %></p>

<% @all_items.each do |item| %>
<%= item.id %>
<%= item.name %>
<%= item.producent %>
<%= item.datasheet %>
<%= link_to 'Show details', item_details_path(item)%>
<%= link_to 'Delete', delete_item_path(item)%>
</br>
<% end %>
