<p id="notice"><%= notice %></p>

<% @all_items.each do |item| %>
<%= item.id %>
<%= item.name %>
<%= item.producent %>
<%= item.datasheet %>
<%= item.category.name unless item.category.nil? %>
<%= link_to 'Show details', get_item_path(item)%>
<%= link_to 'Delete', delete_item_path(item)%>
</br>
<% end %>
